{% extends 'feed/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
    <h2 class="content-header">Change password</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            {{ field }}
            {{ field.label_tag }}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" id="btn" value="CHANGE">
    </form>
{% endblock %}
{% block js %}
{% endblock %}