{% extends 'feed/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'feed/css/post.css' %}">
    <h2 class="content-header">{{ profile_user.username }}'s profile</h2>
    <div id="profile-info">
        <div id="container">
            <img src="{{ profile_user.profile.pic.url }}" alt="profile pic">
            <p>Joined at {{ profile_user.profile.joined_at|naturalday }}</p>
        </div>
        <div id="bio">{{ profile_user.profile.bio }}</div>
        {% if user == profile_user %}
        <a href="{% url 'users:update' %}">UPDATE PROFILE</a>
        {% else %}
        <div id="friendship-btn">{{ friendship_button_state }}</div>
        {% endif %}
    </div>
    {% if profile_user.profile.friends.all %}
    <h3 class="content-subheader">{{ profile_user.profile.friends.count }} friends</h3>
    <div id="friends-bar">
        {% for friend in profile_user.profile.friends.all %}
        <a class="friend-profile hoverable" href="{% url 'users:other_profile' friend.id %}">
            <img src="{{ friend.profile.pic.url }}" alt="friend pic">
            <span>{{ friend.username }}</span>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="content-subheader">{{ profile_user.username }} has no friends yet</h3>
    {% endif %}
    {% if profile_user.post_set.all %}
    <h3 class="content-subheader">Posts</h3>
    {% for post in profile_user.post_set.all %}
        {% include 'feed/post.html' with post=post %}
    {% endfor %}
    {% else %}
    <h3 class="content-subheader">{{ profile_user.username }} has no posts yet</h3>
    {% endif %}
    <a href="#profile-info"><i id="scroll-home" class="fa-solid fa-arrow-up"></i></a>
{% endblock %}
{% block js %}
    <script
        data-handle-url = "{% url 'users:handle_friendship' profile_user.id %}">
		const PROFILE_DATASET = document.currentScript.dataset;
    </script>
    <script type="text/javascript" src="{% static 'feed/js/post.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}