{% extends 'feed/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/update.css' %}">
    <h2 class="content-header">Update profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_pic">
            <img id="preview" src="{{ user.profile.pic.url }}" alt="pic">
            <p>Change</p>
            <input name="pic" type="file" accept="image/*" id="id_pic">
        </label>
        {{ form.bio }}
        <input type="submit" value="UPDATE PROFILE">
    </form>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'users/js/update.js' %}"></script>
{% endblock %}