#content {
    overflow-y: scroll;
}

#unseen,
#seen {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}

.notification {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--color-main);
    text-align: center;
}

.notification span {
    position: absolute;
    right: 2rem;
    font-weight: var(--font-light);
    font-size: 1rem;
}