#chat-window {
    height: 100vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.online {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.offline {
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

#friends-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color:rgb(124, 163, 226);
    width: 100%;
    height: 100vh;
    font-size: 32px;
    text-align: center;
}

#list-header{
    width: 100%;
    background-color: rgb(100, 154, 200);
    position: absolute;
}

#friends-list{
    height: 100%;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    /* Hide scrollbar in Firefox and IE */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scrollbar in webkit base browsers */
#friends-list::-webkit-scrollbar {
    display: none;
}

#chat1 {
    display: none;
    right: 14vw;
}

#chat2 {
    display: none;
    right: 42.4vw;
}

#chat3 {
    display: none;
    right: 70.8vw;
}

.chat {
    position: absolute;
    bottom: 8.6%;
    display: flex;
    flex-direction: column;
    border: solid lightcoral 0.01rem;
    border-radius: 3px;
}

.chat-head {
    background-color: lightskyblue;
    width: 28.4vw;
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
}

.chat-log {
    height: 400px;
    overflow-y: scroll;
    width: auto;
    background-color:rgba(188, 203, 237, 0.95);
    border-radius: 3px;
    border: none;
}

.chat-input {
    display: flex;
    align-items: flex-end;
    background-color: white;
    padding-right: 4px;
}

.msg-input {
    font-size: 24px;
    width: 25vw;
    height: 50px;
    letter-spacing: 0.075em;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.msg-input:focus {
    outline:none;
}

.send-btn {
    transition: transform .2s;
}
.send-btn:hover {
    transform: scale(1.1);
}
.send-btn img {
    border-radius: 5px;
}

.collapsed {
    display: none;
}