#friends-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:var(--color-main);
    text-align: center;
    font-size: 3rem;
}

#list-header{
    width: 100%;
    background-color: var(--color-dark);
    color: var(--offwhite); 
}

#friends-list{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.friend {
    padding-left: 2rem;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.status {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: grey;
}

.online {
    background-color: green;
}

#chats {
    position: absolute;
    bottom: 0;
    right: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.chat {
    height: max(40vh, 500px);
    width: max(20vw, 400px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
}

.chat-head {
    width: 100%;
    padding: .5rem 1rem;
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--color-secondary);
    text-align: center;
}

.chat-head span {
    font-weight: var(--font-bold);
    font-size: 2.5rem;
}

.close-btn {
    position: absolute;
    top: 25%;
    right: .75rem;
    transform-origin: -50%;
}

.chat-log {
    height: 80%;
    overflow-y: scroll;
    background-color: var(--color-main);
}

.chat-input {
    display: flex;
    background-color: var(--offwhite);
}

.msg-input {
    width: 90%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: var(--offwhite);
    letter-spacing: .2rem;
    font-size: 2.25rem;
}