form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.field {
    position: relative;
    margin: 1rem 0;
}

.field label {
    width: 300px;
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX(-50%);
    pointer-events: none;
    transition: .3s ease-out;
    font-size: 2rem;
    font-weight: var(--font-light);
}

.field input {
    width: 100%;
    padding-top: 2.25rem;
    padding-bottom: .5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 1.7px solid var(--color-secondary);
    background: transparent;
    text-align: center;
    font-size: 3rem;
}

.field input:focus ~ label {
    top: -10px;
    font-size: 1rem;
}

#btn {
    width: max(30%, 200px);
    align-self: center;
    margin-top: 2rem;
    margin-bottom: -3rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px var(--color-secondary);
    transition: .2s ease-in-out;
    cursor: pointer;
    background-color: var(--color-accent);
    font-size: 2rem;
    font-weight: var(--font-bold);
    color: var(--color-dark);
}

#btn:hover {
    transform: scale(1.05);
    background-color: var(--color-secondary);
    box-shadow: 0 5px 3px var(--color-secondary);
    color: var(--offwhite);
}

p {
    margin-top: 3.5rem;
    font-size: 1.2rem;
    font-weight: var(--font-light);
}

p a {
    text-decoration: none;
    font-weight: var(--font-bold);
}

p a:hover {
    color: var(--color-secondary);
    text-shadow: 0 1px 1px var(--color-dark);
}

.errorlist {
    position: absolute;
    left: 70%;
    bottom: 50%;
    width: 50%;
    padding: .75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    background-color: var(--color-accent);
    text-align: center;
    font-weight: var(--font-bold);
    font-size: 1.25rem;
}

.nonfield {
    position: unset;
    align-self: center;
}