@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
  --color-main: #D0E8F2;
  --color-secondary: #79A3B1;
  --color-accent: #95c0cf;
  --color-dark: #456268;
  --color-light: #FCF8EC;
  --offwhite: #F8F0E3;
  --offblack: #212427;
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 700;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-regular);
  color: var(--offblack);
}

html,
body {
  height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark);
}

.hoverable {
    transition: transform .2s;
    transform-origin: center;
    user-select: none;
}

.hoverable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

body {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    padding-inline: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1.5px 5px var(--color-dark);
    background-color: var(--color-secondary);
    font-size: 2rem;
}

#brand {
    text-shadow: 0 3px 2px var(--color-dark);
    font-size: 3rem;
    font-weight: var(--font-bold);
    color: var(--offwhite);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#search-bar {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#search-bar input {
    width: 20rem;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.2rem;
    font-size: inherit;
}

#notifications-count {
    width: 2rem;
    position: absolute;
    top: -80%;
    right: -40%;
    z-index: 100;
    border-radius: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--offwhite);
}

#profile,
#notifications {
    position: relative;
}

#profile img {
    height: 4rem;
    border-radius: 50%;
}

#profile-menu ul,
#notifications-list ul {
    position: absolute;
    padding: .5rem 2rem;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
    border-radius: 5px;
    background-color: var(--color-dark);
}

#main {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    background-color: var(--color-main);
}

#groups-window {
    width: 10%;
    text-align: center;
}

#content {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: var(--color-light);
    font-size: 2rem;
}

.content-header,
.content-subheader {
    width: 50%;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--offblack);
    text-align: center;
    font-weight: var(--font-bold);
    font-size: 3rem;
    color: var(--color-dark);
}

.content-subheader {
    padding-top: .5rem;
    border-top: 1px solid var(--offblack);
    font-size: 2rem;
}

#chat-window {
    width: 20%;
}

@media only screen and (max-width: 600px) {
    #groups-window,
    #chat-window {
        display: none;
    }

    #content {
        width: 100%;
    }
}