:root {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden {
    display: none;
}

.hoverable {
    transition: transform .2s;
    transform-origin: center;
}

.hoverable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: max(10vh, 5rem);
    width: 100vw;
    background-color: red;
    color: beige;
    font-size: 2rem;
}

#brand {
    margin-left: 5vw;
}

#search-bar {
    display: flex;
    align-items: center;
    gap: .5rem;
}

nav {
    margin-right: 5vw;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: beige;
}

nav ul li a {
    color: beige;
}

#search-bar input {
    font-size: inherit;
    width: 20rem;
    letter-spacing: 0.2rem;
    border-radius: 5px;
    border: none;
    padding: .5rem;
}

#notifications-count{
    font-size: 2rem;
    position: absolute;
    top: -60%;
    right: -30%;
    z-index: 100;
    color: black;
    background-color: blue;
    width: 2rem;
    text-align: center;
    border-radius: 100%;
}
#profile,
#notifications {
    position: relative;
    z-index: 100;
}
#profile img {
    height: 4rem;
    border-radius: 50%;
}

#profile-menu ul,
#notifications-list ul {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    align-items: center;
    flex-direction: column;
    row-gap: .75rem;
    background-color: rgb(222, 176, 181);
    padding: .5rem 2rem;
    border-radius: 5px;
}

#main {
    display: flex;
    background-color: blue;
    width: 100vw;
    height: 90%;
}

#group-bar {
    width: 10%;
    text-align: center;
}

#group-bar ul {
    list-style: none;
}

#content {
    background-color: rgb(235, 235, 229);
    font-size: 40px;
    line-height: 1.5em;
    padding-inline: 1rem;
    width: 66%;
    height: 90vh;
    overflow-y: scroll;
}

#chat-window {
    height: 100vh;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #group-bar,
    #chat-window {
        display: none;
    }
}