.pic {
    height: 4rem;
    border-radius: 50%;
}

.post-img {
    max-width: 100%;
}

.post {
    width: max(360px, 50vw);
    background-color: rgb(26, 136, 99);
    padding: 1.5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.post-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-likes {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.like-btn {
    color: red;
}

.post-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.post-body {
    width: 100%;
    background-color: aliceblue;
    padding: 1rem 1rem;
}

.post-comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.comments {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.comment {
    background-color: steelblue;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.75rem;
    padding: 1rem;
    width: 100%;
    line-height: 2rem;
    word-break: break-all;
}

.comment .pic {
    height: 2.5rem;
}

.comment-user {
    font-weight: 800;
}

.add-comment {
    display: flex;
    justify-content: center;
}

.add-comment input[type=text] {
    width: 80%;
    height: fit-content;
    font-size: 2rem;
    padding: 1rem;
}