#posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    overflow-y: scroll;
}

.post {
    width: max(360px, 50vw);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 2px var(--color-dark);
    background-color: var(--color-main);
    font-size: 2rem;
}

.post-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-timestamp {
    position: absolute;
    left: .75rem;
    font-weight: var(--font-light);
    font-size: 1.2rem;
}

.post-origin {
    position: relative;
}

.post-group {
    position: absolute;
    width: 100%;
    bottom: 90%;
    left: 20%;
}

.post-group a {
    font-size: 1.3rem;
}

.post-group a:hover {
    color: var(--color-dark);
}

.post-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-title * {
    text-shadow: 0 2px 2px var(--color-secondary);
    font-weight: var(--font-bold);
    color: var(--offblack);
}
.post-title a:hover {
    color: var(--color-secondary);
}

.pic {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid var(--color-light);
}

.post-likes {
    position: absolute;
    right: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: var(--font-light);
    font-size: 1.5rem;
}

.like-btn {
    font-size: 2.5rem;
    color: red;
}

.post-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.post-img {
    max-height: 600px;
    max-width: 100%;
}

.post-body {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--color-light);
}

.post-comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.post-comments span {
    font-weight: var(--font-light);
}
.comments {
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    overflow-y: scroll;
}

.comment {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.75rem;
    border-radius: 15px;
    background-color: var(--color-light);
    line-height: 2rem;
    word-break: break-all;
}

.comment .pic {
    height: 3rem;
    width: 3rem;
}

.comment-user {
    font-weight: var(--font-bold);
}

.comment-timestamp {
    position: absolute;
    right: .75rem;
    bottom: 0;
    font-weight: var(--font-light);
    font-size: 1rem;
}

.add-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    background-color: var(--offwhite);
}

.add-comment input[type=text] {
    width: 90%;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--offwhite);
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: var(--font-bold);
}

.add-comment input[type=submit] {
    padding: 1rem;
    border: none;
    border-radius: 15px;
    transition: .2s ease-in-out;
    background-color: transparent;
    font-size: 1rem;
    font-weight: var(--font-bold);
    color: var(--color-dark);
}