{% load static %}
<div id="friends-window">
    <!-- <div id="list-header">Chat</div> -->
    <ul id="friends-list">
        {% for friend in user.profile.friends.all %}
        <li class="friend" id="{{ friend.username }}">
            {% if friend.client.online_status  %}
                <span class="status online"></span>
            {% else %}
                <span class="status"></span>
            {% endif %}
            <a class="username" href="#">{{ friend.username }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="chat1" class="chat">
    <div class="chat-head">
        <span>Friend name</span>
        <button class="close-btn">x</button>
    </div>
    <div class="chat-log"></div>
    <div class="chat-input">
        <input class="msg-input" type="text">
        <a href="#" class="send-btn"><img src="{% static 'chat/icons/send.png' %}" width="40px" height="40px"></a>
    </div>
</div>
<div id="chat2" class="chat">
    <div class="chat-head">
        <span>Friend name</span>
        <button class="close-btn">x</button>
    </div>
    <div class="chat-log"></div>
    <div class="chat-input">
        <input class="msg-input" type="text">
        <a href="#" class="send-btn"><img src="{% static 'chat/icons/send.png' %}" width="40px" height="40px"></a>
    </div>
</div>
<div id="chat3" class="chat">
    <div class="chat-head">
        <span>Friend name</span>
        <button class="close-btn">x</button>
    </div>
    <div class="chat-log"></div>
    <div class="chat-input">
        <input class="msg-input" type="text">
        <a href="#" class="send-btn"><img src="{% static 'chat/icons/send.png' %}" width="40px" height="40px"></a>
    </div>
</div>