{% load static %}
<div id="friends-window">
    <div id="list-header">Chat</div>
    <ul id="friends-list">
        {% for friend in user.profile.friends.all %}
        <li class="friend hoverable" data-friend-username="{{ friend.username }}">
            {% if friend.client.online_status  %}
                <span class="status online"></span>
            {% else %}
                <span class="status"></span>
            {% endif %}
            <span class="username">{{ friend.username }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="chats"></div>