{% load static %}
<!DOCTYPE html>
<head>
	<title>Socialbook</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Static stylesheets -->
	<link rel="stylesheet" href="{% static 'feed/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'chat/css/chat_window.css' %}">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<!-- Font-Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
	<!-- jQuery and jQuery-confirm stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<!-- jQuery and jQuery-confirm scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>
<body>
	<header>
		<a id="brand" class="hoverable" href="{% url 'feed:home' %}">Socialbook</a>
		<nav>
			<ul>
				<li id="search-bar">
					<i class="fa-solid fa-magnifying-glass"></i>
					<input type="text">
				</li>
				<li id="notifications" class="hoverable">
					<i class="fa-solid fa-circle-exclamation fa-xl"></i>
					<span id="notifications-count"></span>
					<div id="notifications-list" class="hidden">
						<ul></ul>
						<a href="{% url 'notifications:home' %}">See all notifications</a>
					</div>
				</li>
				<li id="profile" class="hoverable">
					<img src="{{ user.profile.pic.url }}" alt="pic">
					<i class="fa-solid fa-caret-up fa-2xs"></i>
					<div id="profile-menu" class="hidden">
						<ul>
							<li><a href="{% url 'users:profile' %}">Profile</a></li>
							<li><a href="{% url 'users:update' %}">Update</a></li>
							<li><a href="{% url 'users:logout' %}">Logout</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<div id="main">
		<div id="groups-window">
			<div id="groups-header">Groups</div>
			<div id="owned-groups" class="sub-group">
				<h3 class="groups-subheader">Your groups</h3>
				<ul>
					{% for group in user.profile.get_owned_groups.all %}
					<li><a href="{% url 'groups:group' group.id %}">{{ group.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="joined-groups" class="sub-group">
				<h3 class="groups-subheader">Joined groups</h3>
				<ul>
					{% for group in user.profile.get_joined_groups.all %}
					<li><a href="{% url 'groups:group' group.id %}">{{ group.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="suggested-groups" class="sub-group">
				<h3 class="groups-subheader">Suggested group</h3>
				<ul>
					{% with group=user.profile.get_random_group %}
					<li><a href="{% url 'groups:group' group.id %}">{{ group.title }}</a></li>
					{% endwith %}
				</ul>
			</div>
			<a href="{% url 'groups:create' %}" id="new-group-btn">NEW GROUP</a>
		</div>
		<div id="content">{% block content %}{% endblock %}</div>
		<div id="chat-window">{% include 'chat/chat_window.html' %}</div>
	</div>
	<!-- Django Template urls to JS -->
	<script
		data-comments-url = "{% url 'feed:comments' %}"
		data-likes-url = "{% url 'feed:likes' %}"
		data-notifications-url = "{% url 'notifications:notifications' %}"
		data-next-messages = "{% url 'chat:next_messages' %}"
		data-next-posts = "{% url 'feed:next_posts' %}"
		data-token = "{{ csrf_token }}"
		data-username = "{{ user.username }}">
		const DATASET = document.currentScript.dataset;
    </script>
	<!-- Static scripts -->
    <script type="text/javascript" src="{% static 'feed/js/base.js' %}"></script>
	<script type="text/javascript" src="{% static 'chat/js/chat.js' %}"></script>
	<script type="text/javascript" src="{% static 'chat/js/status.js' %}"></script>  
	{% block js %}{% endblock %}
</body>
</html>