{% extends 'feed/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'feed/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'feed/css/post.css' %}">
    <a id="new-post-btn" href="{% url 'feed:post_create' %}">NEW POST</a>
    <h2 class="content-header">Feed:</h2>
    {% if posts %}
    <div id="posts" data-iteration="1">
        {% for post in posts %}
            {% include 'feed/post.html' with post=post %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'feed/js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'feed/js/post.js' %}"></script>
{% endblock %}