<script src="https://code.jquery.com/jquery-3.5.1.js" 
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
        crossorigin="anonymous">
</script>
<script>
  // FUNCTIONS
  
  function updateLikes(id) {
    url = "{% url 'feed:getlikesurl' %}" + id;
    $.getJSON(url, function(n) {
      $('#likes_of_'+id).text(n);
    })
  };

  // EVENTS

  // Like button clicked
  $("form[id^='like_btn_']").on('click', function(e) {
    post_id = $(this).attr('id').slice(9,);
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'feed:like' %}",
      data:
      {
        id: post_id,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      }
    });
    updateLikes(post_id);
    $('#unlike_btn_'+post_id).toggle();
    $(this).toggle();
  });

  // Unlike button clicked
  $("form[id^='unlike_btn_']").on('click', function(e) {
    post_id = $(this).attr('id').slice(11,);
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'feed:unlike' %}",
      data:
      {
        id: post_id,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      }
    });
    updateLikes(post_id);
    $('#like_btn_'+post_id).toggle();
    $(this).toggle();
  });

</script>   