{% load humanize %}
<div class="post">
  <div class="post-header">
    <span class="post-timestamp">{{ post.created_at|naturaltime }}</span>
    <div class="post-title">
      <img class="pic" src="{{ post.owner.pic }}" alt="pic">
      <span>
        <a href="{% url 'feed:post' post.id %}">Post</a> by
        <a href="{% url 'users:other_profile' post.owner.id %}"> {{ post.owner.username }}</a>
      </span>
    </div>
    <div class="post-likes">
      <div class="likes-count">{{ post.liked_by.all.count }} likes</div>
      <button class="like-btn">Like</button>
    </div>
  </div>
  <div class="post-content">
    {% if post.img %}
    <img class="post-img" src="{{ post.img.url }}" alt="image">
    {% endif %}
    <div class="post-body">{{ post.text }}</div>
  </div>
  <div class="post-comments">
    Comments:
    <div class="comments">
      {% if post.comment_set.all %}
        {% for comment in post.comment_set.all %}
          <div class="comment">
            <span class="comment-user">{{ comment.owner.username }}: </span>{{ comment.text }}
          </div>
        {% endfor %}
      {% else %}
        <div class="comment">No comments yet.</div>
      {% endif %}
    </div>
    <form action="" class="add-comment">
      {% csrf_token %}
      <input type="text">
      <input type="submit" value="COMMENT">
    </form>
  </div>
</div>